<ion-header>
  <ion-toolbar>
    <ion-title>Anotações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
      <ion-item>
        <ion-input placeholder="Título" style="overflow: hidden;"></ion-input>
      </ion-item>
    </ion-card-header>

    <textarea placeholder="Escreva seu texto"></textarea>

</ion-content>

<div>
<div class="divisao">
  <a href="/folder/Inbox" style="text-decoration: none"><ion-button expand="full" >Cancelar</ion-button></a>
</div>
<div class="divisao1">
    <ion-button slot="start" expand="full">Salvar</ion-button>
</div>
</div>

