<ion-header>
  <ion-toolbar>
    <ion-title>Anotações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formAnotacoes">

    <ion-card-header>
      <ion-item>
        <ion-input formControlName="titulo" placeholder="Título" style="overflow: hidden;"></ion-input>
        <ng-container *ngFor="let erro of mensagens.titulo">
          <span class="msg-erro"
          *ngIf="formAnotacoes.get('titulo').hasError(erro.tipo) && (formAnotacoes.get('titulo').dirty || formAnotacoes.get('titulo').touched)">
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card-header>

    <textarea placeholder="Escreva seu texto"></textarea>

  </form>

</ion-content>

<div>
<div class="divisao">
  <a href="/folder/Inbox" style="text-decoration: none"><ion-button expand="full" >Cancelar</ion-button></a>
</div>
<div class="divisao1">
    <ion-button expand="full" (click)="salvarAnotacao()">Salvar</ion-button>
</div>
</div>

