.divisao{
  align-items: center;
  width: 50%;
  float: right;

}
.divisao1{
  align-items: center;
  width: 50%;
  float: left;
}

textarea {
  overflow:auto;
  height: 88%;
  width: 90%;
  margin-left: 5%;
  padding: 4%;
}
